* { margin:0; padding:0; box-sizing:border-box; }
body {	
	font-family: 'Raleway', sans-serif;
	color:#222;
}
section#professionals > section {
	float: left;
	width: 50%;
}
.clearfix:after {
		content:".";
		visibility:hidden;
		display:block;
		height:0;
		clear: both;
}
